.player {
  background-color: #eee;
  text-align: center;
  height: 1000px;
  margin: auto;
}
.details {
  padding: 20px;
}
.sliders {
  display: flex;
  float: left;
  padding: 5px;
  margin: 50px;
}
.seekSlider {
  width: 70%;
}
