.player {
  background-color: #eee;
  text-align: center;
  height: 1000px;
  margin: auto;
}

.details {
  padding: 20px;
}
.sliders {
  display: flex;
  float: left;
  padding: 5px;
  margin: 10%;
}
.seekSlider {
  width: 60%;
}
.trackDiv {
  border-right: 1px solid gray;
}
.ulList {
  list-style: none;
  margin-left: -6vh;
  font-size: 14px;
}
.liList {
  border: 1px solid #eee;
}
.addToFavP {
  width: 20px;
}
.favUlList {
  list-style: none;
  margin-left: -6vh;
  font-size: 11px;
}
